{% extends 'base.html' %} {% block meta %}{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body {
            background-color: #3BE3D5;
        }
    </style>
    <title>Register</title>
</head>
{% endblock meta %} {% block content %}

<body>
    <div class="login">
        <center>
            <div id="nav">
                <h5>Balqis A. Lumbun - 2106751184</h5>
                <h5><a style="color:brown" href="{% url 'todolist:login' %}">Aku Punya Akun!</a></h5>
            </div>
            <link rel="stylesheet" href="{% static 'css/tutorial.css' %}" />
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
            <div id="box">
                <h1>Formulir Registrasi</h1>
            </div>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><button style="float: right;"><input class="btn btn-primary btn-sm" style="float: center;" type="submit" name="submit" value="Daftar" /></button></td>
                    </tr>
                </table>
            </form>

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </center>
    </div>
</body>

{% endblock content %}