{% extends 'base.html' %} {% block content %}
<h1>Task 4 Assignment PBP/PBD</h1>
<br>
<center>
    <h4>Developer Name: <span style="color:blue">{{nama}}</span></h4>

    <h4>NPM: <span style="color:blue">{{npm}}</span></h4>

    <h4>Current User: <span style="color:blue">{{uname}}</span></h4>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <button><a href="{% url 'todolist:logout' %}">Aku Mau Logout</a></button>
    <button><a href="{% url 'todolist:new_list' %}">Tambah Task Baru</a></button>
</center>

<center>
    <br>
    <br>
    <table border="2">
        <tr>
            <th>Task Date</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Task of User</th>
        </tr>
        {% for task in mytodolist %}
        <tr>
            <th>{{task.date}}</th>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
            <th>{{task.finished}}</th>
            <th>{{task.user}}</th>
        </tr>
        {% endfor %}
    </table>

</center>
{% endblock content %}