arcade==2.6.1
asgiref==3.4.1
attrs==21.2.0
backports.entry-points-selectable==1.1.1
cffi==1.14.6
distlib==0.3.3
dj-database-url==1.0.0
Django==3.2.9
django-heroku==0.3.1
filelock==3.4.0
gunicorn==20.1.0
mysql-connector-python==8.0.29
Pillow==8.3.2
platformdirs==2.4.0
psycopg2==2.9.3
pycparser==2.20
pygame==2.0.1
pyglet==2.0.dev7
pymunk==6.1.0
pytiled-parser==1.5.3
pytz==2021.3
Shapely==1.7.1
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
virtualenv==20.10.0
whitenoise==6.2.0
